MultiMail is a free, open source (GPL) offline mail packet reader for 
Unix/Linux, MS-DOS, OS/2, Windows and Mac OS X, using a curses-based 
interface. It supports the Blue Wave, QWK, OMEN, SOUP and OPX formats.

The MultiMail home page is:

\040http://multimail.sourceforge.net/


What's New in version ${VER}?
---------------------------

`makebull supress <mmail-extra/whatsnew | subst`


`subst <mmail-extra/mmail.lsm | untab`
