Source: multimail
Section: mail
Priority: optional
Maintainer: Peter Karlsson <peterk@debian.org>
Standards-Version: 3.5.10
Build-Depends: libncurses5-dev, debhelper (>= 3.0)

Package: multimail
Architecture: any
Depends: ${shlibs:Depends}
Suggests: uqwk, zip, unzip
Description: Offline reader for Blue Wave, QWK, OMEN and SOUP
 MultiMail is an offline mail packet reader for Unix and
 other systems. It currently supports the Blue Wave, QWK,
 OMEN and SOUP formats. It has a full screen, color user
 interface, built with the curses library.
