Source: multimail
Section: mail
Priority: extra
Maintainer: Robert James Clay <jame@rocasa.us>
Standards-Version: 3.9.6
Build-Depends: libncurses5-dev, debhelper (>= 9.0)
Vcs-Git: git://github.com/ftnapps/multimail.git
Vcs-Browser: http://github.com/ftnapps/multimail
Homepage: http://multimail.sourceforge.net

Package: multimail
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Suggests: uqwk, zip, unzip
Description: Offline reader for Blue Wave, QWK, OMEN and SOUP
 MultiMail is an offline mail packet reader for Unix and
 other systems. It currently supports the Blue Wave, QWK,
 OMEN and SOUP formats. It has a full screen, color user
 interface, built with the curses library.

Package: multimail-dbg
Architecture: any
Section: debug
Depends: multimail (= ${binary:Version}), ${misc:Depends}
Description: debugging symbols for multimail
 MultiMail is an offline mail packet reader for Unix and
 other systems. It currently supports the Blue Wave, QWK,
 OMEN and SOUP formats. It has a full screen, color user
 interface, built with the curses library.
 .
 This package contains the debugging symbols for crashmail.
