#!/usr/bin/make -f
# debian/rules for multimail

# To enable all, uncomment following line
export DEB_BUILD_MAINT_OPTIONS = hardening=-format
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@

override_dh_auto_install:
	dh_auto_install --destdir=debian/multimail

override_dh_installchangelogs:
	dh_installchangelogs --keep HISTORY

override_dh_installdocs:
	dh_installdocs --link-doc=multimail

override_dh_strip:
	dh_strip --dbg-package=multimail-dbg

.PHONY: override_dh_strip