#!/usr/bin/make -f
# debian/rules for multimail

# Flag updates
CPPFLAGS:=$(shell dpkg-buildflags --get CPPFLAGS)
CFLAGS:=$(shell dpkg-buildflags --get CFLAGS)
CXXFLAGS:=$(shell dpkg-buildflags --get CXXFLAGS)
LDFLAGS:=$(shell dpkg-buildflags --get LDFLAGS)

%:
	dh $@

override_dh_auto_install:
	dh_auto_install --destdir=debian/multimail

override_dh_installchangelogs:
	dh_installchangelogs --keep HISTORY.md
